.wrapper {
  padding: 40px;
}
.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  text-align: center;
}
.greeting img {
  width: 64px;
}
.role_greeting {
  padding: 20px;
  text-align: center;
}
.tools {
  padding: 40px;
  background: #ececec;
  display: flex;
}
.tools__view {
  display: flex;
  align-items: center;
}
.tools__checkbox {
  margin: 5px 10px 2px 0;
}
.user__display {
  display: grid;
  place-items: center;
}
@media only screen and (max-width: 568px) {
  .greeting {
    font-size: 36px;
  }
}
